<!DOCTYPE html>
<html>
    <head>
         <title>
            Learn language notes
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <nav class="sidebar">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('add_flashcard') }}">Add Flashcard</a>
            <a href="{{ url_for('study') }}">Study</a>
            <a href="{{ url_for('review') }}">Review words</a>
            <a href="{{ url_for('quiz') }}">Quiz</a>
        </nav>
        <header class="quizTitle">Quiz</header>

        <div class="quiz-container" id="quiz-container">
        Loading quiz...
        </div>

        
    <script>
        fetch("/api/quiz")
            .then(response => response.json())
            .then(data => {
                const container = document.getElementById("quiz-container");

                container.innerHTML = "";

                data.forEach((item, index) => {
                    const card = document.createElement("div");
                    card.classList.add("quiz-card");

                    card.innerHTML = `
                        <h3>Question ${index + 1}</h3>
                        <p>${item.question}</p>
                        <button onclick="this.nextElementSibling.style.display='block'">
                            Show Answer
                        </button>
                        <p style="display:none; font-weight:bold;">
                            ${item.answer}
                        </p>
                    `;

                    container.appendChild(card);
                });
            })
            .catch(err => {
                document.getElementById("quiz-container").innerHTML =
                    "Failed to load quiz";
            });
    </script>
    </body>
</html>